<div>
    <div class="card">
        <div class="front face">
             <h2>
                 ID: <span data-bind="text: indexParam"></span>
             </h2>
        </div>

        <div class="col-xs-12 well front face">
            <h3 data-bind="text: selected.card.frontHeading"></h3>
            <p data-bind="text: selected.card.front"></p>
        </div>

        <div class="col-xs-12 well back face">
            <h3 data-bind="text: selected.card.backHeading"></h3>
            <p data-bind="text: selected.card.back"></p>
        </div>
    </div>
</div>